:root.dark-mode {
  --fill-primary: 22, 26, 36;
  --fill-default: 30, 34, 45;
  --fill-dark: 30, 34, 45;
  --fill-hover: 22, 26, 36;
  --text-primary: 235, 235, 235;
  --text-auxiliary: 180, 180, 180;
  --text-hint: 120, 120, 120;
  --text-light: 255, 255, 255;
  --border-primary: 45, 45, 45;
  --border-dark: 60, 60, 60;
  --color-shadow: rgb(255 255 255 / 20%);
}
