:root {
  --fill-primary: 247, 248, 250;
  --fill-default: 255, 255, 255;
  --fill-dark: 15, 23, 42;
  --fill-hover: 242, 243, 245;
  --text-primary: 51, 51, 51;
  --text-auxiliary: 120, 120, 120;
  --text-hint: 200, 200, 200;
  --text-light: 255, 255, 255;
  --border-primary: 235, 235, 235;
  --border-dark: 77, 77, 77;
  --color-shadow: rgb(51 51 51 / 10%);
}
