:root {
  --color-primary: 255, 165, 0;
  --color-danger: 255, 102, 102;
  --color-warning: 255, 214, 165;
  --color-success: 170, 200, 167;
  --color-info: 180, 180, 180;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
}
